<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="Doddle.Reporting" type="Doddle.Reporting.Configuration.ReportSection, Doddle.Reporting"/>
  </configSections>

  <Doddle.Reporting defaultProvider="Pdf">

  </Doddle.Reporting>-->
</configuration>