<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="doddle">
      <section name="reporting" type="Doddle.Reporting.Configuration.ReportSection, Doddle.Reporting" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <doddle>
    <reporting defaultWriter="Html" dataRowStyle="DataRowStyle" headerRowStyle="HeaderRowStyle" footerRowStyle="FooterRowStyle">
      <styles>
        <style name="DataRowStyle" />
        <style name="HeaderRowStyle" bold="true" underline="true" />
        <style name="FooterRowStyle" bold="true" />
        <style name="Footer" italic="true" />
        <style name="Title" fontSize="16" />
      </styles>
      <writers>
        <clear />
        <add format="Html" type="Doddle.Reporting.Writers.HtmlReportWriter, Doddle.Reporting" contentType="text/html" fileExtension=".html" />
        <add format="Text" type="Doddle.Reporting.Writers.DelimitedTextReportWriter, Doddle.Reporting" contentType="text/plain" fileExtension=".txt" offerDownload="true" />
        <add format="ExcelOpenXml" type="Doddle.Reporting.ExcelOpenXml.ExcelOpenXmlReportWriter, Doddle.Reporting.ExcelOpenXml" contentType="application/vnd.ms-excel" offerDownload="true" fileExtension=".xlsx" />
        <add format="Excel" type="Doddle.Reporting.Writers.ExcelReportWriter, Doddle.Reporting" contentType="application/vnd.ms-excel" offerDownload="true" fileExtension=".xls" />
        <add format="PDF" type="Doddle.Reporting.AbcPdf.PdfReportWriter, Doddle.Reporting.AbcPdf" contentType="application/pdf" offerDownload="false" fileExtension=".pdf" />
      </writers>
    </reporting>
  </doddle>

  <system.web>
    <customErrors mode="Off" ></customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

